.update-book-form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 9999; /* set a high z-index to bring the form to the front */
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-book-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
}